
.site-map-section, .legal-notice-section, .privacy-policy-section, .terms-of-service-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:88%;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
    box-shadow: 0 3px 4px rgb(0, 0, 0, 1), inset 0 -2px 5px rgba(0, 0, 0, 1),
    inset 0 4px 15px rgba(255, 255, 255, 0.245), 0 0 0 2px #000, 0 0 0 5px #000000,
    0 0 0 5.5px #080808;
}

.site-map-section h2, .legal-notice-section h2, .privacy-policy-section h2, .terms-of-service-section h2 {
    text-decoration: underline;
    margin-bottom: 15px;
    color: white;
    font-family:'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    font-weight:400;
}

.site-map-section .p-plan{
    color: white;
    margin: 0 10px;
    font-family:'Futura LT', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight:400;
    padding-bottom: 5px;
    transition: transform 0.3s ease, color 0.3s ease; 
}

.site-map-section .link-plan {
    text-decoration: none;
    margin: 0px 10px;
    color: white;
    font-family:'Futura LT', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight:400;
    cursor: pointer;
}

.site-map-section .p-plan:hover{
    margin: 0px 10px;
    color: white;
    font-family:'Futura LT', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight:400;
    transition: transform 0.3s ease, color 0.3s ease; 
}

.site-map-section .p-plan::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease, left 0.3s ease; 
}

.site-map-section .p-plan:hover{
    color: white;
    transform: translateY(-2px);
    color: transparent; 
    background: white;
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.site-map-section .p-plan:hover::after {
    width: 100%;
    left: 0;
}