.container-navbar {
    font-size:16px;
    line-height: 26px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    min-width: 320px;
    height:150px;
    padding: 10px 2%;
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 1px 5px rgba(120, 120, 120, 0.572);
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
}

/* Conteneur pour regrouper les éléments gauche et droite */
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Section gauche */
.nav-left {
    display: flex;
    justify-content: flex-start;
    width:44%;
}

/* Section droite */
.nav-right {
    display: flex;
    justify-content: flex-end;
    width:44%;
}

/* Logo centré */
.logo-centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Styles des items de navigation */
.nav-item {
    background: black;
    margin-right: 1px;
    width: 25%;
    position: relative;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    border-radius: 5px;
    transition: transform 0.3s ease, color 0.3s ease;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
    gap:20px;
    overflow: hidden; /* Nécessaire pour l'animation */
}

.nav-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3); /* Couleur de la surbrillance */
    transform: translateY(-50%);
    transition: left 0.3s ease-in-out;
    z-index: 1;
}

.nav-item:hover::before {
    left: 100%; /* Déplace la surbrillance de gauche à droite */
}

.nav-item:hover {
    transform: scale(1.05); /* Grossissement léger au survol */
    color: white; /* Maintient la couleur blanche */
}

/* Pour le texte */
.nav-item .nav-item-text {
    position: relative;
    z-index: 2; /* Garde le texte au-dessus de la surbrillance */
    color: white;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

/* Menu burger */
.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.menu-close {
    display: none;
}

@media screen and (max-width: 1337px) {

    .container-navbar {
        width: 98%;
        padding: 10px 1%;
    }
    .nav-header {
        width: 100%;
    }
    .nav-items {
        width:100%;
    }
    .nav-left{
        width: 45%;
    }
    .nav-right {
        width:45%;
    }
    .nav-item {
        width:25%;
        padding:0px ;
    }
    .nav-item-text {
        font-size: 13px;
    }
}

@media screen and (max-width: 1252px) {

    .container-navbar {
        width: 98%;
        padding: 10px 1%;
    }
    .nav-header {
        width: 100%;
    }
    .nav-items {
        width:100%;
    }
    .nav-left{
        width: 45%;
    }
    .nav-right {
        width:45%;
    }
    .nav-item {
        width:25%;
        padding:0px ;
    }
    .nav-item-text {
        font-size: 13px;
    }
}

@media screen and (max-width: 1240px) {

    .container-navbar {
        width: 100%;
        padding: 10px 0%;
    }
    .nav-header {
        width: 100%;
    }
    .nav-items {
        width:100%;
    }
    .nav-left{
        width: 45%;
    }
    .nav-right {
        width:45%;
    }
    .nav-item {
        width:26%;
        padding:0px ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-item-text {
        font-size: 12px;
        font-weight: 500;
    }
}

@media screen and (max-width: 1215px) {

    .menu-toggle {
        display: block;
        font-size: 28px;
        margin-left: 20px;
        background: none;
        border: none;
        color: black;
        cursor: pointer;
    }

    .menu-toggle:hover {
        color:#1e5a6e;
        transform: translateY(-2px);
        color: transparent; 
        background: #1e5a6e;
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    
    .menu-toggle.hidden {
        display: none;
    }
    
    .menu-close {
        display:flex;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 18px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        z-index: 1001; /* Assurez-vous qu'il est au-dessus du menu */
    }

    .menu-close:hover{
        color: #1e5a6e;
        color: transparent; 
        background: #1e5a6e;
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }

    .nav-items {
        display: none;
        position: absolute;
        width: 100%;
        min-width: 320px;
        top:0;
        left:0;
        background-color: rgba(0, 0, 0, 0.77);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 998;
        opacity: 0;
        animation: none; 
        padding-left: 0%;
        padding-right: 0%;
    }

    .nav-items.active {
        display: flex;
        flex-direction: row;
        justify-content: center;
        animation: slideOpen 0.6s forwards;
    }

    .nav-left, .nav-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 20px 0px 20px;
        width:180px;
        margin: 20px 20px;
    }

    .nav-left {
        margin-right:0px;
        margin-left: 0px;
    }

    .nav-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width:100%;
        padding: 0px 20px 0 20px;
        margin: 0%;
        text-align: left;
        opacity: 0;
        background: transparent;
        animation: fadeOpen 0.5s forwards ease 0.3s;
    }

    .nav-item-text {
        padding-right:10px;
        font-size: 18px;
        color:black;
    }

    .nav-item-text i {
        margin: 0%;
        padding: 0%;
    }

    @keyframes slideOpen {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Animation d'apparition des items du menu */
    @keyframes fadeOpen {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .menu-toggle {
        display: block;
    }

    .nav-header {
        justify-content: space-between;
    }

    .nav-item {
        width:75%;
    }
    .nav-item::after {
        bottom: -2px; 
    }

    .nav-item:hover::after {
        bottom: 12px; 
    }

    .nav-item-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        text-align: center;
        width:100%;
    }

    /* Logo reste centré */
    .logo-centered {
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        transform: none;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 1164px) {
    .menu-toggle {
        display: block;
        font-size: 28px;
        background: none;
        border: none;
        color: black;
        cursor: pointer;
        margin-left: 20px;
    }

    .menu-toggle:hover {
        color: #1e5a6e;
        transform: translateY(-2px);
        color: transparent; 
        background: #1e5a6e;
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    
    .menu-toggle.hidden {
        display: none;
    }
    
    .menu-close {
        display:flex;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 20px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        z-index: 1001; /* Assurez-vous qu'il est au-dessus du menu */
    }

    .menu-close:hover{
        color:#1e5a6e;
        color: transparent; 
        background: #1e5a6e;
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }

    .nav-items {
        display: none;
        position: absolute;
        width: 100%;
        min-width: 320px;
        top:0;
        left:0;
        background-color: rgba(0, 0, 0, 0.77);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 998;
        opacity: 0;
        animation: none; 
        padding-left: 0%;
        padding-right: 0%;
    }

    .nav-items.active {
        display: flex;
        flex-direction: row;
        justify-content: center;
        animation: slideOpen 0.6s forwards;
    }

    .nav-left, .nav-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 10px 0px 10px;
        width:200px;
        margin: 20px 20px 20px 20px;
    }

    .nav-left {
        margin-right:0px;
        margin-left: 0px;
    }

    .nav-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width:100%;
        padding: 0px 10px 0 0px;
        margin: 0%;
        text-align: left;
        opacity: 0;
        animation: fadeOpen 0.5s forwards ease 0.3s;
    }

    .nav-item-text {
        padding-right:10px;
        color:white;
    }

    .nav-item-text i {
        margin: 0%;
        padding: 0%;
    }

    @keyframes slideOpen {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Animation d'apparition des items du menu */
    @keyframes fadeOpen {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .menu-toggle {
        display: block;
    }

    .nav-header {
        justify-content: space-between;
    }

    .nav-item {
        width:75%;
    }
    .nav-item::after {
        bottom: -2px; 
    }

    .nav-item:hover::after {
        bottom: 12px; 
    }

    .nav-item-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        text-align: center;
        width:100%;
    }

    /* Logo reste centré */
    .logo-centered {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: none;
        margin-right: auto;
        margin-left: auto;
        transform: none;
    }
}

@media screen and (max-width: 1055px) {

    .menu-toggle {
        margin-left:20px;
        display: block;
        font-size: 28px;
        background: none;
        border: none;
        color: black;
        cursor: pointer;
    }

    .menu-toggle:hover {
        color: #1e5a6e;
        transform: translateY(-2px);
        color: transparent; 
        background: #1e5a6e;
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    
    .menu-toggle.hidden {
        display: none;
    }
    
    .menu-close {
        display:flex;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 20px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        z-index: 1001; /* Assurez-vous qu'il est au-dessus du menu */
    }

    .menu-close:hover{
        color: #1e5a6e;
        color: transparent; 
        background: #1e5a6e;
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }

    .nav-items {
        display: none;
        position: absolute;
        width: 100%;
        min-width: 320px;
        top:0;
        left:0;
        background-color: rgba(0, 0, 0, 0.77);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 998;
        opacity: 0;
        animation: none; 
        padding-left: 0%;
        padding-right: 0%;
    }

    .nav-items.active {
        display: flex;
        flex-direction: row;
        justify-content: center;
        animation: slideOpen 0.6s forwards;
    }

    .nav-left, .nav-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
        width:200px;
        margin: 20px 20px 20px 20px;
    }

    .nav-left {
        margin-right:0px;
        margin-left: 0px;
    }

    .nav-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width:100%;
        padding: 0px 10px 0 0px;
        margin: 0%;
        text-align: left;
        opacity: 0;
        animation: fadeOpen 0.5s forwards ease 0.3s;
    }

    .nav-item-text {
        padding-right:10px;
        color:white;
    }

    .nav-item-text i {
        margin: 0%;
        padding: 0%;
    }

    @keyframes slideOpen {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Animation d'apparition des items du menu */
    @keyframes fadeOpen {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .menu-toggle {
        display: block;
    }

    .nav-header {
        justify-content: space-between;
    }

    .nav-item {
        width:75%;
    }
    .nav-item::after {
        bottom: -2px; 
    }

    .nav-item:hover::after {
        bottom: 12px; 
    }

    .nav-item-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        text-align: center;
        width:100%;
    }

    /* Logo reste centré */
    .logo-centered {
        position: static;
        transform: none;
        margin-right: auto;
        margin-left: auto;
    }
}



@media screen and (max-width: 980px) {
    .menu-toggle {
        display: block;
        font-size: 28px;
        background: none;
        border: none;
        color: black;
        cursor: pointer;
    }

    .menu-toggle:hover {
        color: #1e5a6e;
        transform: translateY(-2px);
        color: transparent; 
        background: #1e5a6e;
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    
    .menu-toggle.hidden {
        display: none;
    }
    
    .menu-close {
        display:flex;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 20px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        z-index: 1001; /* Assurez-vous qu'il est au-dessus du menu */
    }

    .menu-close:hover{
        color: #1e5a6e;
        color: transparent; 
        background: #1e5a6e;
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }

    .nav-items {
        display: none;
        position: absolute;
        width: 100%;
        min-width: 320px;
        top:0;
        left:0;
        background-color: rgba(0, 0, 0, 0.77);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 998;
        opacity: 0;
        animation: none; 
        padding-left: 0%;
        padding-right: 0%;
    }

    .nav-items.active {
        display: flex;
        flex-direction: row;
        justify-content: center;
        animation: slideOpen 0.6s forwards;
    }

    .nav-left, .nav-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
        width:200px;
        margin: 20px 20px 20px 20px;
    }

    .nav-left {
        margin-right:0px;
        margin-left: 0px;
    }

    .nav-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width:100%;
        padding: 0px 10px 0 0px;
        margin: 0%;
        text-align: left;
        opacity: 0;
        animation: fadeOpen 0.5s forwards ease 0.3s;
    }

    .nav-item-text {
        padding-right:10px;
        color:white;
    }

    .nav-item-text i {
        margin: 0%;
        padding: 0%;
    }

    @keyframes slideOpen {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Animation d'apparition des items du menu */
    @keyframes fadeOpen {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .menu-toggle {
        display: block;
    }

    .nav-header {
        justify-content: space-between;
    }

    .nav-item {
        width:75%;
    }
    .nav-item::after {
        bottom: -2px; 
    }

    .nav-item:hover::after {
        bottom: 12px; 
    }

    .nav-item-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        text-align: center;
        width:100%;
    }

    /* Logo reste centré */
    .logo-centered {
        position: static;
        transform: none;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
        font-size: 28px;
        background: none;
        border: none;
        color: black;
        cursor: pointer;
    }

    .menu-toggle:hover {
        color: #1e5a6e;
        transform: translateY(-2px);
        color: transparent; 
        background: #1e5a6e;
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    
    .menu-toggle.hidden {
        display: none;
    }
    
    .menu-close {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 20px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        z-index: 1001; /* Assurez-vous qu'il est au-dessus du menu */
    }

    .menu-close:hover {
        color: #1e5a6e;
        transform: translateY(-2px);
        color: transparent; 
        background: #1e5a6e;
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }

    .menu-close:hover{
        color: #1e5a6e;
        color: transparent; 
        background:#1e5a6e;
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }

    .nav-items {
        display: none;
        position: absolute;
        width: 100%;
        min-width: 320px;
        top:0;
        left:0;
        background-color: rgba(0, 0, 0, 0.77);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 998;
        opacity: 0;
        animation: none; 
        padding-left: 0%;
        padding-right: 0%;
    }

    .nav-items.active {
        display: flex;
        flex-direction: row;
        justify-content: center;
        animation: slideOpen 0.6s forwards;
    }

    .nav-left, .nav-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
        width:200px;
        margin: 40px 0px 40px 0px;
    }

    .nav-left {
        margin-right:0px;
        margin-left: 0px;
    }

    .nav-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width:100%;
        padding: 0px;
        margin: 0%;
        text-align: left;
        opacity: 0;
        animation: fadeOpen 0.5s forwards ease 0.3s;
    }

    .nav-item .nav-item-text {
        color:white;
        font-size: 12px;
        width:100%;
    }

    @keyframes slideOpen {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Animation d'apparition des items du menu */
    @keyframes fadeOpen {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .menu-toggle {
        display: block;
    }

    .nav-header {
        justify-content: space-between;
    }

    .nav-item {
        width:75%;
    }
    .nav-item::after {
        bottom: -2px; 
    }

    .nav-item:hover::after {
        bottom: 12px; 
    }

    .nav-item-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width:100%;
    }

    /* Logo reste centré */
    .logo-centered {
        position: static;
        transform: none;
        margin-right: auto;
        margin-left: auto;
    }
}