.container-local-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:76%;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 30px;
    background: white;
}

.container-local-info .title23 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight:400;
    color:#1e5a6e;
    text-align: center;
    margin-top:20px;
    margin-bottom: 20px;
}

.box-link-local-info {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    gap:10px;
}

.link-local-info {
    height:100px;
    width:20%;
    padding:30px;
    background: #e2001a;
    border:1px solid lightgray;
    overflow: hidden; /* Cache tout ce qui dépasse l'élément parent */
    transition: transform 0.3s ease, color 0.3s ease;
}

.li1 {
    background: #e2001a;
}

.li2 {
    background: white;
}
.link-local-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Commence en dehors à gauche */
    width: 100%;
    height: 100%;
    background: rgba(159, 159, 159, 0.3); /* Couleur de la surbrillance */
    transform: translateY(0); /* Pas besoin de centrer verticalement */
    transition: left 0.4s ease-in-out; /* Rend le déplacement fluide */
    z-index: 1;
}

.link-local-info:hover::before {
    left: 0; /* Fait glisser la surbrillance pour couvrir l’élément */
}

.link-local-info:hover {
    transform: scale(1.05); /* Grossissement léger au survol */
}


.logo-local-info {
    width:100%;
    height:100%;
    object-fit: contain;
}